@charset "utf-8";
/* CSS Document */
	body{background-color: dimgrey; margin: 0;}
	h1{text-align: left;}
	h4{text-align: left;}
	p{text-align: left;}
	li{text-align: left;}
	legend{text-align: left;}
	table {object-fit: fill}
	table, th {border-collapse: collapse; padding: 10px;}
	table table th {border: 5px solid black; border-collapse: collapse;}
	fieldset{margin-bottom: 20px}
	input{margin: 0px 5px;}
	
	#page{position: relative; min-height: 100vh; min-width: 100vw;}
	#resume{width: auto; background-color: rgb(250, 250, 250);}
	#content{padding-bottom: 7.5rem;}
	#footer {position: absolute; bottom: 0; width: 100%; height: 7.5rem; background-color: rgba(250,250,250,.5);}
	div#banner{position: fixed; top: 0px; left: 200px; width: 1000px; background-color: darkcyan; border: 3px solid black; padding: 4px; text-align: center; z-index: 3;}
	div#banner h1{text-align: center;}
	div#banner img{float: left;}
	div#navigation{position: fixed; top: 100px; left: 400px; background-color: darkcyan; border: 3px solid black; padding: 10px; z-index: 3;}
	div#tools{position: relative; margin-top: 40px; margin-left: 100px; height: 20vh; width: 75%; padding-bottom: 2.5rem;}
	h2#toolsHeader{text-align:center;}
	div#bio{position: relative; top: 50px; padding-bottom: 50px; width: auto;}
	div#errors {position:absolute;top:265px;left:850px;visibility:hidden;color:red;border:1px solid red;padding:5px;}
		
	.row1 {height: 100px;}
	.column1{width: 200px;}
	.column2{width: 50px;}
	.column3{width: 300px;}
	.bioDescription{font-weight: bold; padding-right: 10%;}
	.photo{height: 150px; width: 150px; float: left;}
	.logo {width: 75px; height: 75px;}
	.links {width:50px; height: 50px;}
	.validation{background-color: grey;}
	.currentImage{height: 40px; width: 40px;}
	.carousel{width: 50vw; height: 20vh;}
	.carousel > ul{margin: 0; padding: 0; list-style: none;}
	.carousel-button{position: absolute;top:50%; transform:translateY(-50%); height: 50px; width: 40px; font-size: 2rem;; border: none; background-color: rgba(0,0,0,.1); z-index: 2;}
	.carousel-button.prev{left: 1rem;}
	.carousel-button.next{right: 1rem;}
	.slide{position: absolute; margin-top: 75px; inset: 0; opacity: 0; transition: 200ms opacity ease-in-out;}
	.slide > img{display: block; width: 100%; height: 10vh; object-fit: scale-down;}
	.slide[data-active]{opacity: 1;}
	.foot{text-align: center;}
	.projectTitle{border: none; background-color: dimgrey;}
	.carousel-button:hover {color:white; background-color: rgba(0,0,0,.2);}
	.carousel-button:active {color:white;background-color: rgba(0,0,0,.5);}
	.projectScreenshot{height: 250px; width: 300px;}
	.projectDescription{height: 150px; width: 325px;}
	

	nav a, nav a:visited{background-color: rgba(0,0,0,.1); color: black; border: 3px solid black; text-align: center; text-decoration: none; width: 100px; height: 30px; display: inline-block; border-radius: 6px; padding: 5px;}
	nav a:hover{background-color: rgba(0,0,0,.2); color: white;}
	nav a:active{background-color: rgba(0, 0, 0, .7);}


	.heart{height: 20px; width: 20px; transform: scale(1); animation: pulse 1s linear infinite;}
	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		10% { 
			transform: scale(1.2);
		}
		20% {
			transform: scale(0.9);
		}
		30% {
			transform: scale(1.25);
		}
		40% {
			transform: scale(0.9);
		}
		50% {
			transform: scale(1);
		}
	}

	.wave{height:15px; width:15px; transform: rotate(0deg) scale(1); animation: wave 1.5s linear infinite;}
	@keyframes wave {
		0%{
			transform: rotate(0deg) scale(1);
		}

		10%{
			transform: scale(1.5);
		}

		20%{
			transform: rotate(10deg)scale(1.5);
		}
		30%{
			transform: rotate(-10deg) scale(1.5);
		}
		40%{
			transform: rotate(10deg) scale(1.5);
		}
		50%{
			transform: rotate(-10deg) scale(1.5);
		}
		60%{
			transform: scale(1);
		}
	}